<%- include('./layouts/head', {title: 'Home admin page'}) %>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header text-center">Create Doctor Account</h3>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <% if(hasErrors) { %>
                    <div class="alert alert-danger">
                        <% messages.forEach(function(message){ %>
                            <span><%= message %></span>
                        <% }) %>
                    </div>
                <% } %>
                <form action="/admin/doctor/create" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <select name="specialties" class="form-control input-sm" required>
                                    <option value="<%= dataForm.specialties %>" selected disabled hidden>Specialties
                                    </option>
                                    <% for(var i = 0; i < spec.length; i++) { %>
                                    <option value="<%=spec[i]._id%>@<%= spec[i].name %>"><%=spec[i]._id%> <%= spec[i].name %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="desciption" value="<%= dataForm.desciption %>"
                                       class="form-control input-sm" placeholder="Description" required>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="numbercmnd" value="<%= dataForm.numbercmnd %>"
                                       class="form-control input-sm" placeholder="Identity card number" required>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="address" value="<%= dataForm.address %>"
                                       class="form-control input-sm" placeholder="Address" required>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <select name="gender" class="form-control input-sm" required>
                                    <option value="<%= dataForm.gender %>" selected disabled hidden>Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-control input-sm"><i class="fa fa-image"></i>
                                    <input type="hidden" name="img">
                                    <input type="file" name="image">
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="date" name="dob" value="<%= dataForm.dob %>" class="form-control input-sm"
                                       placeholder="dob" required>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input name="firstname" id="firstname" value="<%= dataForm.firstname %>"
                                       class="form-control input-sm" type="text" placeholder="First name" required>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="lastname" id="lastname" value="<%= dataForm.lastname %>"
                                       class="form-control input-sm" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" value="<%= dataForm.email %>"
                                       class="form-control input-sm" placeholder="Email Address" required>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-sm"
                                       placeholder="Password" required
                                       onchange="form.password_confirmation.pattern = RegExp.escape(this.value)">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password_confirmation" id="password_confirmation"
                                       class="form-control input-sm" placeholder="Confirm Password" required>
                            </div>
                        </div>
                        <input style="display: none" name="role" value="doctor">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary float-right">Create</button>
                            </div>
                        </div>
                    </div>
                    <img src="https://www.touchtaiwan.com/images/default.jpg" alt="" id="image-preview"
                         style="width: 100px">
                </form>
            </div>
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
<!-- Script upload image cloud -->
<script src="/js/upload.image.js"></script>

<%- include('./layouts/footer', ) %>
