<%- include('./layouts/head', {title: 'Home admin page'})%>


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">List of doctors</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>



<%- include('./layouts/footer', ) %>
