<%- include('./layouts/head',
{title: 'Home admin page'})%>


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Forms Record</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" method="post" action="save">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Id bệnh nhân</label>
                                    <div class="controls">
                                        <input type="text" name="id">
                                    </div>
                                </div>
                                <label>Bệnh</label>
                                <div class="controls">
                                    <textarea name="typeOfDisease" id="" cols="100" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Thuốc</label>
                                <div class="controls">
                                    <textarea name="drug" id="" cols="100" rows="10"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>



<%- include('./layouts/footer',
) %>
