<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layouts/header', {title: 'Admin'})%>
    <%
        var status = 'Choose file image';
    if (dataForm.img){status = 'Upload image success'}%>
</head>
<body class="bg-gradient-primary">

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div id="" class="col-lg-5 d-none d-lg-block ">
                    <img class="col-12" src="<%= dataForm.img %>" alt="" id="image-preview" style="width: 100%">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Admin Account!</h1>
                        </div>
                        <% if(hasErrors) { %>
                            <div class="alert alert-danger">
                                <% messages.forEach(function(message){ %>
                                    <span><%= message %></span>
                                <% }) %>
                            </div>
                        <% } %>
                        <form action="/register/admin" method="post" enctype="multipart/form-data">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input name="firstname" id="firstname" value="<%= dataForm.firstname %>" class="form-control input-sm" type="text" placeholder="First name" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="lastname" id="lastname" value="<%= dataForm.lastname %>" class="form-control input-sm" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" value="<%= dataForm.email %>" class="form-control input-sm" placeholder="Email Address" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="address" value="<%= dataForm.address %>" class="form-control input-sm" placeholder="Address" required>
                            </div>
                            <div class="form-group">
                                <label class="form-control input-sm"><i class="fa fa-image"></i>
                                    <input type="hidden" name="img" value="<%= dataForm.img%>">
                                    <input type="file" name="image" style="display: none"/>
                                    <span style="color: #1c7430" id="image-status"><span style="color: #6e707e"><%= status %></span></span>
                                </label>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="date" name="dob" value="<%= dataForm.dob %>" class="form-control input-sm" placeholder="dob" required>
                                </div>
                                <div class="col-sm-6">
                                    <select name="gender" class="form-control input-sm" required>
                                        <option value="<%= dataForm.gender %>" selected disabled hidden>Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="numbercmnd" value="<%= dataForm.numbercmnd %>" class="form-control input-sm" placeholder="Identity card number" required>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" onchange="form.password_confirmation.pattern = RegExp.escape(this.value)" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" required>
                                </div>
                            </div>
                            <input type="hidden" name="role" value="admin">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="/login/admin">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Script upload image cloud -->
<script src="/js/upload.image.js"></script>
</body>
</html>
