<%- include('./layouts/head', {title: 'Booking'} ) %>
<%- include('layouts/header.ejs', {style: ''}) %>
<!-- Banner Area Starts -->
<section class="banner-area other-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Booking</h1>
                <a href="index.html">Home</a> <span>|</span> <a href="about.html">About Us</a>
            </div>
        </div>
    </div>
</section>

<section class="contact-form section-padding">
    <form id="test-form" name="booking-form" method="post" action="/booking/send">
        <div class="container">
            <div class="part-book">
                <h3>Doctor</h3>
                <span><i>Please choose doctor</i></span>
                <div class="list-doctor">
                    <div class="owl-carousel owl-theme">
                        <% for (var i = 0; i < doctors.length; i++) { %>
                            <div class="box-doctor">
                                <input class="d-none" type="radio" name="doctor" value="<%= doctors[i].id %>">
                                <div class="item">
                                    <div class="doctor-img" style="background-image: url('<%= doctors[i].info.img %>')">
                                    </div>
                                    <span class="d-none" id="doctorId"><%= doctors[i].id %></span>
                                    <div class="content-area">
                                        <div class="doctor-name text-center">
                                            <h3><%= doctors[i].info.lastname %></h3>
                                            <div class="star-ratings-sprite"><span style="width:<%= doctors[i].doctor.currentRating%>%" class="star-ratings-sprite-rating"></span></div>
                                            <h5 class="pt-2"><%= doctors[i].doctor.specialties%></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="custom-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="part-book">
                <h3>Date</h3>
                <span><i>Please choose date</i></span>
                <div id="box-date" class="row">

                </div>
            </div>
            <div class="part-book">
                <h3>Time</h3>
                <span><i>Please choose time</i></span>
                <label id="errTime"></label>

                <div id="loading-time">
                    <img src="https://media1.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
                </div>

                <div id="box-time" class="row list-time">

                </div>

            </div>
            <input type="hidden" value="<%= user._id %>" name="user">
            <button type="submit" class="template-btn">Book</button>
        </div>
    </form>
</section>

<script>
    $(function () {
        $('.list-doctor .owl-carousel').owlCarousel({
            margin: 10,
            nav: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.list-doctor .custom-nav',
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        });

        var cData = [];

        function getDate(index) {
            var dateMoment = moment().add(index, 'days');
            return dateMoment.format('YYYY-MM-DD');
        }

        function renderDate() {
            var htmlDate = '';
            for (let i = 0; i < 3; i++) {
                htmlDate += '<input class="d-none" name="dateRadio" value="' + getDate(i) + '" type="radio" id="radioDate' + i + '">' +
                    '<label style="margin:0 20px"\n' +
                    '  for="radioDate' + i + '"  class="col-3 btn btn-outline-secondary time-onForm">' + getDate(i) + '</label>'

            }
            $('#box-date').html(htmlDate);
        }

        renderDate();

        var currentDoctor = $('.box-doctor > input[type="radio"]:first');
        var currentDate = $('#box-date > input[type="radio"]:first');

        currentDate.attr('checked', true);

        currentDoctor.attr('checked', true)
            .next().addClass('bo-thang-doctor');

        $('.box-doctor').click(function () {
            $(this).find('input[type="radio"]').prop('checked', true);
            $('.bo-thang-doctor').removeClass('bo-thang-doctor');
            $(this).find('.item').addClass(('bo-thang-doctor'))

            $.ajax({
                method: "POST",
                url: 'booking/api/' + $(this).find('input[type="radio"]').val(),
                success: function (res) {
                    cData = res;
                    renderTime(cData, currentDate.val())
                    $('#box-date > input[type="radio"]:first').click()
                    console.log(res);
                }
            })
        })

        $('#box-date > input[type="radio"]').click(function () {
            renderTime(cData, $(this).val())
        });

        $.ajax({
            method: "POST",
            url: 'booking/api/' + currentDoctor.val(),
            success: function (res) {
                cData = res;
                renderTime(res, currentDate.val())
                console.log(res)
            }
        })

        function isbooked(status, time) {
            if (moment(parseInt(time)).isBefore(moment())) {
                return ' disabled'
            }
            if(status === '1'){
               return  ' disabled'
            }
            return '';
        }

        function renderTime(data, date) {
            var list = data.filter((item) => item.date === date).sort((a, b) => a.time - b.time);
            var htmlTimes = '';
            for (let i = 0; i < list.length; i++) {
                htmlTimes += '<input' + isbooked(list[i].status, list[i].time) + ' class="d-none" name="timeDoc" id="radioTime' + i + '" ' +
                    'value="' + list[i].time + '-' + list[i]._id + '" type="radio">' +
                    '<label for="radioTime' + i + '" type="button"\n' +
                    'class="time-item genric-btn danger-border radius">' + getTimeMoment(list[i].time) + ' </label>'
            }
            $('#box-time').html(htmlTimes);
        }

        function getTimeMoment(time) {
            var sTime = moment(parseInt(time));
            var startTime = moment(parseInt(time)).format('HH:mm');
            var endTime = sTime.add(30, 'minutes').format('HH:mm');

            return startTime + ' - ' + endTime;
        }
        $('#loading-time').hide();
        var loading = $('#loading-time');
        $(document)
            .ajaxStart(function () {
                $('#box-time').hide();
                loading.show();
            })
            .ajaxStop(function () {
                $('#box-time').show();
                loading.hide();
            });

        $("#test-form").on("submit", function () {
            if (!$('input[name="timeDoc"]:checked').val()) {
                alert("Please choose time")
                return false;
            }
            return true;
        })
    })


</script>
<%- include('./layouts/call-event') %>
<%- include('./layouts/footer') %>
