<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/bootstrap-4.1.3.min.css">
    <link href="/css/call-style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
          type='text/css'>

    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try {
            Typekit.load({async: true});
        } catch (e) {
        }</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
    <!-- Favicon -->

    <link rel="shortcut icon" href="/assets/images/logo/favicon.png" type="image/x-icon">

    <script src='/assets/js/vendor/jquery.ui.widget.js' type='text/javascript'></script>
    <script src='/assets/js/vendor/jquery.iframe-transport.js' type='text/javascript'></script>
    <script src='/assets/js/vendor/jquery.fileupload.js' type='text/javascript'></script>
    <script src='/assets/js/vendor/jquery.cloudinary.js' type='text/javascript'></script>

    <script src="/assets/js/vendor/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/js/video-call.js"></script>

</head>
<body>
<input type="hidden" id="myAvatar" value="<%= user.info.img %>">
<input type="hidden" id="myName" value="<%= user.info.firstname + user.info.lastname %>">
<input type="hidden" id="friendAvatar" value="<%= friend.img %>">
<input type="hidden" id="friendName" value="<%= friend.firstname + user.lastname %>">

<div id="loading">
    <img src="/img/loadingxin.svg" alt="">
</div>

<div class="my-container h-100 d-flex">
    <div id="frame">
        <div class="content">
            <div class="contact-profile">
                <img id="friendAvatar" src="<%= friend.img %>" alt="">
                <p id="myAvatar"><%= friend.name %></p>
            </div>
            <div class="messages">
                <ul id="list-mes">

                </ul>
            </div>

            <div class="message-input">
                <div class="wrap d-flex">
                    <input id="text_chat" type="text" placeholder="Write your message...">
                    <div class="upload-btn-wrapper">
                        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                        <input type="file" name="file" class="cloudinary_fileupload" multiple>
                    </div>
                    <button id="btn-send-mes" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-video">
        <div class="box-video">
            <button id="btn-show-mes-box"><i style="color: #fff;" class="fas fa-2x fa-comment-dots"></i></button>
            <button id="btn-off-call" class="btn">Off Call</button>
            <video class="w-100 h-100 friendVideo" id="remoteStream" autoplay controls></video>
            <video class="myVideo" id="localStream" autoplay muted></video>
        </div>
    </div>
</div>


<script>


    $(function () {

        var socket = io('https://dev20-doctor.herokuapp.com/');
        var peer = new Peer();
        let searchParams = new URLSearchParams(window.location.search);

        var myAvatar = $('#myAvatar').val();

        var friendAvatar = $('#friendAvatar').val();

        $.cloudinary.config({"api_key": "jfrzncgn", "cloud_name": "dyi6c1dgi"});

        if (!searchParams.has('peerId')) {
            var myId = searchParams.get('myId');
            var friendId = searchParams.get('friendId');
            var isSos = searchParams.get('sos');
            peer.on('open', myPeerId => {
                socket.emit('ON_CALL', {
                    myId: friendId,
                    peerId: myPeerId,
                    friendId: myId,
                    isSos: isSos
                });
            });

            socket.on(myId + '1', function (data) {
                sendMes(data.id);
            })
            peer.on('call', call => {
                openStream()
                    .then(stream => {
                        $('#loading').hide()
                        call.answer(stream);
                        playStream('localStream', stream);
                        call.on('stream', remoteStream => {
                            playStream('remoteStream', remoteStream)
                        });
                    });
            });

        } else {

            const id = searchParams.get('peerId');
            const friendId = searchParams.get('friendId');
            sendMes(id);
            peer.on('open', myPeerId => {
                socket.emit('CHAT', {id: myPeerId, friendId: friendId})
            });
            openStream()
                .then(stream => {
                    $('#loading').hide();
                    playStream('localStream', stream);
                    const call = peer.call(id, stream);
                    call.on('stream', remoteStream => {
                        playStream('remoteStream', remoteStream)
                    });
                });

        }

        function sendMes(id) {
            var conn = peer.connect(id);
            conn.on('open', function () {
                $('#text_chat').keypress(function (event) {
                    var message = $(this).val();
                    if (event.keyCode === 13 && $(this).val()) {
                        // send message của mình đi nè !!!
                        conn.send(`<p>${message}</p>`);
                        $('#list-mes').append(`<li class="replies">
                        <img src="${myAvatar}" alt="">
                        <p>${message}</p>
                    </li>`).parent().animate({scrollTop: $(document).height()}, 'slow');
                        $(this).val('');
                    }
                });

                $('#btn-send-mes').click(function () {
                    var message = $('#text_chat').val();
                    if (message.length > 0) {
                        // send message của mình đi nè !!!
                        conn.send(`<p>${message}</p>`);
                        $('#list-mes').append(`<li class="replies">
                        <img src="${myAvatar}" alt="">
                        <p>${message}</p>
                    </li>`).parent().animate({scrollTop: $(document).height()}, 'slow');
                        $('#text_chat').val('');
                    }
                })

                $('.cloudinary_fileupload').unsigned_cloudinary_upload("jfrzncgn",
                    {cloud_name: 'dyi6c1dgi', tags: 'browser_uploads'},
                    {multiple: true}
                ).on('cloudinarydone', function (e, data) {

                    var opts = {
                        format: 'jpg',
                        width: 200,
                        height: 300,
                        crop: 'thumb',
                        gravity: 'face',
                        effect: 'saturation:50'
                    };
                    var img = $.cloudinary.image(data.result.public_id, opts)[0].outerHTML;
                    conn.send(`<a target="_blank" download href="${data.result.url}" style="width: 200px;height: 300px">${img}</a>`);
                    $('#list-mes').append(`<li class="replies">
                        <img src="${myAvatar}" alt="">
                        <div style="width: 200px;height: 300px;margin-left: auto;
margin-right: 30px;">${img}</div>
                    </li>`).parent().animate({scrollTop: $(document).height()}, 'slow');
                })
            });
        }

        peer.on('connection', function (conn) {
            conn.on('data', function (data) {
                // hiện message của nó ra nè !!!
                $('#list-mes').append(`<li class="sent"><img src="${friendAvatar}" alt="">
                        ${data}</li>`).parent().animate({scrollTop: $(document).height()}, 'slow');
            });
        });

        $("#frame").hide()

        $("#btn-show-mes-box").click(function () {
            $("#frame").toggle();
        });

        $('#btn-off-call').click(function () {
            window.close();
        })


    })
</script>
</body>
</html>
