<%- include('./layouts/head', {title: 'Departments'} ) %>
<%- include('layouts/header.ejs', {style: ''})%>
<!-- Banner Area Starts -->
<section class="banner-area other-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Departments</h1>
                <a href="/">Home</a> <span>|</span> <a href="/departments">Departments</a>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->
<!-- Feature Area Starts -->
<section class="feature-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/feature1.png" alt="">
                    <h3>advance technology</h3>
                    <p class="pt-3">Creeping for female light years that lesser can't evening heaven isn't bearing tree appear</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding mt-4 mt-md-0">
                    <img src="assets/images/feature2.png" alt="">
                    <h3>comfortable place</h3>
                    <p class="pt-3">Creeping for female light years that lesser can't evening heaven isn't bearing tree appear</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                    <img src="assets/images/feature3.png" alt="">
                    <h3>quality equipment</h3>
                    <p class="pt-3">Creeping for female light years that lesser can't evening heaven isn't bearing tree appear</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                    <img src="assets/images/feature4.png" alt="">
                    <h3>friendly staff</h3>
                    <p class="pt-3">Creeping for female light years that lesser can't evening heaven isn't bearing tree appear</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Area End -->

<!-- Department Area Starts -->
<section class="department-area section-padding4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-top text-center">
                    <h2>Popular department</h2>
                    <p>Green above he cattle god saw day multiply under fill in the cattle fowl a all, living, tree word link available in the service for subdue fruit.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="department-slider owl-carousel">
                    <div class="single-slide">
                        <div class="slide-img">
                            <img src="assets/images/department1.jpg" alt="" class="img-fluid">
                            <div class="hover-state">
                                <a href="#"><i class="fa fa-stethoscope"></i></a>
                            </div>
                        </div>
                        <div class="single-department item-padding text-center">
                            <h3>cardiac clinic</h3>
                            <p>Hath creeping subdue he fish gred face whose spirit that seasons today multiply female midst upon</p>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="slide-img">
                            <img src="assets/images/department2.jpg" alt="" class="img-fluid">
                            <div class="hover-state">
                                <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                            </div>
                        </div>
                        <div class="single-department item-padding text-center">
                            <h3>plastic surgery</h3>
                            <p>Hath creeping subdue he fish gred face whose spirit that seasons today multiply female midst upon</p>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="slide-img">
                            <img src="assets/images/department3.jpg" alt="" class="img-fluid">
                            <div class="hover-state">
                                <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                            </div>
                        </div>
                        <div class="single-department item-padding text-center">
                            <h3>dental clinic</h3>
                            <p>Hath creeping subdue he fish gred face whose spirit that seasons today multiply female midst upon</p>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="slide-img">
                            <img src="assets/images/department1.jpg" alt="" class="img-fluid">
                            <div class="hover-state">
                                <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                            </div>
                        </div>
                        <div class="single-department item-padding text-center">
                            <h3>cardiac clinic</h3>
                            <p>Hath creeping subdue he fish gred face whose spirit that seasons today multiply female midst upon</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Department Area Starts -->

<!-- Hotline Area Starts -->
<section class="hotline-area text-center section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Emergency hotline</h2>
                <span>(+01) – 256 567 550</span>
                <p class="pt-3">We provide 24/7 customer support. Please feel free to contact us <br>for emergency case.</p>
            </div>
        </div>
    </div>
</section>
<!-- Hotline Area End -->
<%- include('./layouts/call-event') %>
<%- include('./layouts/footer',
) %>
