<%- include('./layouts/head',
{title: 'Doctors'}
) %>
<%- include('layouts/header.ejs', {style: ''}) %>
<!-- Banner Area Starts -->

<!-- Banner Area End -->
<div class="container p-5">
    <h1 class="text-center" style="padding-top: 150px">Recharge Card</h1>
    <div class="list-deposit p-5">
        <div class="row text-center">
            <div class="deposit-item col-4 p-2">
                <div class="name d-none">10$ Recharge Card</div>
                <button class="btn btn-outline-primary w-75 mb-3" style="font-size: 25px">10.0$</button>
            </div>
            <div class="deposit-item col-4 p-2">
                <div class="name d-none">10$ Recharge Card</div>
                <button class="btn btn-outline-primary w-75 mb-3" style="font-size: 25px">20.0$</button>
            </div>
            <div class="deposit-item col-4 p-2">
                <div class="name d-none">10$ Recharge Card</div>
                <button class="btn btn-outline-primary w-75 mb-3" style="font-size: 25px">50.0$</button>
            </div>
            <div class="deposit-item col-4 p-2">
                <div class="name d-none">10$ Recharge Card</div>
                <button class="btn btn-outline-primary w-75 mb-3" style="font-size: 25px">100.0$</button>
            </div>
            <div class="deposit-item col-4 p-2">
                <div class="name d-none">10$ Recharge Card</div>
                <button class="btn btn-outline-primary w-75 mb-3" style="font-size: 25px">200.0$</button>
            </div>
            <div class="deposit-item col-4 p-2">
                <div class="name d-none">10$ Recharge Card</div>
                <button class="btn btn-outline-primary w-75 mb-3" style="font-size: 25px">500.0$</button>
            </div>

        </div>
    </div>
    <input type="text" class="d-none" name="price" id="price">
    <input type="text" class="d-none" id="name">
    <button class="btn btn-secondary w-50" id="btn-pay" style="font-size: 20px;margin-left: 260px">Nạp</button>
</div>


<%- include('./layouts/footer',
) %>
<script>
    $('.deposit-item').click(function () {
        var price = $(this).find('.btn-outline-primary').text().replace('$', '');
        var name = $(this).find('.name').text();
        $('#price').val(price);
        $('#name').val(name);
        var data = {
            'name': name,
            "sku": "001",
            "price": price,
            "currency": "USD",
            "quantity": 1
        }
        $('#btn-pay').click(function () {
            $.ajax({
                url: '/deposit/pay',
                data: data,
                method: 'POST',
                success: function (data, textStatus, jqXHR) {
                    alert("Gửi đơn hàng thành công")
                    window.location.replace(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        });
    });
</script>
