<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layouts/head1.ejs', {title: 'Work'}) %>
    <% if (victim == null | victim == undefined) {victim = []} %>
    <style>
        .suggest-results {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 10;
            /*padding: 0;*/
            /*margin: 0;*/
            /*border-width: 1px;*/
            background-color: #ffffff;
            border: #c4c7d7 solid 1px;
            width: 100%;
            /*height: auto;*/
            max-height: 50vh;
            overflow-y: scroll;
        }

        .suggest-results-item:hover {
            background-color: aqua;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container" id="box-form-record">
    <form id="form-record" action="/record/save">
        <h2 class="text-center text-uppercase">Create new medical records</h2>
        <div class="row">
            <!--Symptom-->
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-2 text-uppercase">Symptom</div>
                    <div class="col-12 col-sm-10">
                        <textarea oninput="suggestSymptom(0)" id="symptomInput0" class="suggest-search w-100 symptom"
                                  name="symptom" cols="100%" rows="5"></textarea>
                        <ul class="suggest-results" id="resultsSymptom0" hidden></ul>
                        <div id="symptom-add-form"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center m-2">
                <span id="symptom-button-add">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus-circle"
                         class="svg-inline--fa fa-plus-circle fa-w-16 button-plus" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                              d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"></path>
                    </svg>
                </span>
                <span id="symptom-button-remove" class="hide">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus-circle"
                         class="svg-inline--fa fa-minus-circle fa-w-16 button-minus" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                              d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zM124 296c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h264c6.6 0 12 5.4 12 12v56c0 6.6-5.4 12-12 12H124z"></path>
                    </svg>
                </span>
            </div>
            <!--Diagnosis-->
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-2 text-uppercase">Diagnosis</div>
                    <div class="col-12 col-sm-10">
                        <textarea oninput="suggestDiagnosis(0)" id="diagnosisInput0" class="w-100" name="diagnosis"
                                  cols="100%" rows="5"></textarea>
                        <ul class="suggest-results" id="resultsDiagnosis0" hidden></ul>
                        <div id="diagnosis-add-form"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center m-2">
                <span id="diagnosis-button-add">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus-circle"
                         class="svg-inline--fa fa-plus-circle fa-w-16 button-plus" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                              d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"></path>
                    </svg>
                </span>
                <span id="diagnosis-button-remove" class="hide">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus-circle"
                         class="svg-inline--fa fa-minus-circle fa-w-16 button-minus" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                              d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zM124 296c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h264c6.6 0 12 5.4 12 12v56c0 6.6-5.4 12-12 12H124z"></path>
                    </svg>
                </span>
            </div>
            <!--Prescription-->
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-2 text-uppercase">Prescription</div>
                    <div class="col-12 col-sm-10">
                        <div class="row">
                            <div class="col-4">Medicine name</div>
                            <div class="col-4">Amount</div>
                            <div class="col-4">Using</div>
                        </div>
                        <div class="row">
                            <div class="col-4 w-100">
                                <input oninput="suggestDrug(0)" id="drugInput0" class="w-100" type="text"
                                       name="medicine">
                                <ul class="suggest-results" id="resultsDrug0" hidden></ul>
                            </div>
                            <div class="col-4 w-100">
                                <input class="w-100" type="text" name="amount">
                            </div>
                            <div class="col-4 w-100">
                                <input class="w-100" type="text" name="using">
                            </div>
                        </div>
                        <div id="prescription-add-form"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center m-2">
                <span id="prescription-button-add">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus-circle"
                         class="svg-inline--fa fa-plus-circle fa-w-16 button-plus" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                              d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"></path>
                    </svg>
                </span>
                <span id="prescription-button-remove" class="hide">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus-circle"
                         class="svg-inline--fa fa-minus-circle fa-w-16 button-minus" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                              d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zM124 296c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h264c6.6 0 12 5.4 12 12v56c0 6.6-5.4 12-12 12H124z"></path>
                    </svg>
                </span>
            </div>
            <div class="col-12">
                <input class="hide" type="text" name="userId" value="<%= victim.id %>">
                <input class="hide" type="text" name="doctorID" value="<%= user._id %>">
                <input class="btn btn-outline-dark float-right" type="submit" value="Submit">
            </div>
        </div>
    </form>
    <h3 class="text-center text-uppercase mt-4">Patient Information</h3>
    <table class="table">
        <tr>
            <th rowspan="5"
                style="background-image: url('<%= victim.info.img %>'); background-size: cover; background-position: center; width: 300px; height: 100%"></th>
            <th>First Name</th>
            <td><%= victim.info.firstname %></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><%= victim.info.lastname %></td>
        </tr>
        <tr>
            <th>Address</th>
            <td><%= victim.info.address %></td>
        </tr>
        <tr>
            <th>Gender</th>
            <td><%= victim.info.gender %></td>
        </tr>
        <tr>
            <th>Date of birth</th>
            <td><%= dob %></td>
        </tr>
    </table>
    <h3 class="text-center text-uppercase mt-4">old medical records</h3>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th class="text-uppercase">Symptom</th>
            <th class="text-uppercase">Diagnosis</th>
            <th class="text-uppercase">medicine</th>
            <th class="text-uppercase">amount</th>
            <th class="text-uppercase">using</th>
        </tr>
        <% for(var i = 0; i < listRecord.length ; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td>
                    <% var lists = listRecord[i].symptom.split(',');
                    for (var j = 0; j < lists.length; j++) { %>
                        <div><%= lists[j] %></div>
                    <% } %>
                </td>
                <td>
                    <% var lists = listRecord[i].diagnosis.split(',');
                    for (var j = 0; j < lists.length; j++) { %>
                        <div><%= lists[j] %></div>
                    <% } %>
                </td>
                <td>
                    <% var lists = listRecord[i].medicine.split(',');
                    for (var j = 0; j < lists.length; j++) { %>
                        <div><%= lists[j] %></div>
                    <% } %>
                </td>
                <td>
                    <% var lists = listRecord[i].amount.split(',');
                    for (var j = 0; j < lists.length; j++) { %>
                        <div><%= lists[j] %></div>
                    <% } %>
                </td>
                <td>
                    <% var lists = listRecord[i].using.split(',');
                    for (var j = 0; j < lists.length; j++) { %>
                        <div><%= lists[j] %></div>
                    <% } %>
                </td>
            </tr>
        <% } %>
    </table>
</div>

<script>
    let symptomBtnAdd = document.getElementById('symptom-button-add');
    let symptomBtnRemove = document.getElementById('symptom-button-remove');
    let diagnosisBtnAdd = document.getElementById('diagnosis-button-add');
    let diagnosisBtnRemove = document.getElementById('diagnosis-button-remove');
    let prescriptionBtnAdd = document.getElementById('prescription-button-add');
    let prescriptionBtnRemove = document.getElementById('prescription-button-remove');

    symptomBtnAdd.onclick = function () {
        let symptomAreaAdd = document.querySelectorAll(".symptom-area-input");
        let id = symptomAreaAdd.length + 1;
        let html = "";
        html += "<div class='symptom-area-input'>";
        html += "<textarea oninput=\"suggestSymptom(" + id + ")\" id=\"symptomInput" + id + "\" class=\"suggest-search w-100 symptom\" name=\"symptom\" cols=\"100%\" rows=\"5\"></textarea>\n";
        html += "<ul class=\"suggest-results\" id=\"resultsSymptom" + id + "\" hidden></ul>";
        html += "</div>";
        document.getElementById('symptom-add-form').insertAdjacentHTML("beforebegin", html)
        symptomBtnRemove.classList.remove('hide')
    };

    symptomBtnRemove.onclick = function () {
        let doc = document.querySelectorAll(".symptom-area-input");
        doc[doc.length - 1].remove()
        if (doc.length === 1) {
            symptomBtnRemove.classList.add('hide')
        }
    }

    diagnosisBtnAdd.onclick = function () {
        let html = "<textarea class=\"diagnosis-area-input w-100\" name=\"diagnosis\" cols=\"100%\" rows=\"5\"></textarea>";
        document.getElementById('diagnosis-add-form').insertAdjacentHTML("beforebegin", html)
        diagnosisBtnRemove.classList.remove('hide')
    };

    diagnosisBtnRemove.onclick = function () {
        let doc = document.querySelectorAll(".diagnosis-area-input");
        doc[doc.length - 1].remove()
        if (doc.length === 1) {
            diagnosisBtnRemove.classList.add('hide')
        }
    }

    prescriptionBtnAdd.onclick = function () {
        let id = document.querySelectorAll(".prescription-area-input").length + 1;
        let html = "";
        html += "<div class=\"row prescription-area-input mt-1\">";
        html += "<div class=\"col-4 w-100\">";
        html += "<input oninput=\"suggestDrug(" + id + ")\" id=\"drugInput" + id + "\" class=\"w-100\" type=\"text\" name=\"medicine\">";
        html += "<ul class=\"suggest-results\" id=\"resultsDrug" + id + "\" hidden></ul>"
        html += "</div>";
        html += "<div class=\"col-4 w-100\">";
        html += "<input class=\"w-100\" type=\"text\" name=\"amount\">";
        html += "</div>";
        html += "<div class=\"col-4 w-100\">";
        html += "<input class=\"w-100\" type=\"text\" name=\"using\">";
        html += "</div>";
        html += "</div>";
        document.getElementById('prescription-add-form').insertAdjacentHTML("beforebegin", html)
        prescriptionBtnRemove.classList.remove('hide')
    }

    prescriptionBtnRemove.onclick = function () {
        let doc = document.querySelectorAll(".prescription-area-input");
        let length = doc.length;
        doc[length - 1].remove()
        if (length === 1) {
            prescriptionBtnRemove.classList.add('hide')
        }
    }

    let sendData = '';

    function suggestSymptom(id) {
        let inputId = 'symptomInput' + id;
        let outId = 'resultsSymptom' + id;
        let api = '/suggest/api/symptom/search?q='
        suggest(inputId, outId, api)
    }

    function suggestDrug(id) {
        let inputId = 'drugInput' + id;
        let outId = 'resultsDrug' + id;
        let api = '/suggest/api/drug/search?q='
        suggest(inputId, outId, api)
    }

    function suggest(inputId, outId, api) {
        let input = document.getElementById(inputId);
        let inputValue = input.value.trim();
        let out = document.getElementById(outId);
        let html = '';
        inputValue = inputValue.replace(/\s+/, ' ');
        if (inputValue.length === 0) {
            out.innerHTML = html;
            out.hidden = true
        } else if (sendData !== inputValue) {
            sendData = inputValue
            let url = api + sendData;
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let result = JSON.parse(this.responseText);
                    result.forEach(function (rs) {
                        html += "<li onclick=\"addValue('" + inputId + "','" + outId + "','" + rs.name + "')\" class='suggest-results-item'>" + rs.name + "</li>";
                    })
                    out.hidden = false;
                    out.innerHTML = html;
                }
            };
            xhttp.open("GET", url, true);
            xhttp.send();
        }
    }

    function addValue(inputId, outId, value) {
        let input = document.getElementById(inputId);
        let out = document.getElementById(outId);
        input.value = value;

        out.hidden = true;
    }

    $("#form-record").submit(function (event) {
        event.preventDefault();
        var post_url = $(this).attr("action");
        var form = $(this);
        $.ajax({
            type: "POST",
            url: post_url,
            data: form.serialize(),
            success(res) {
                socket.emit('DONE', res);
                socket.on('FINISH', function (method) {
                    var money;
                    if (method === 1) money = '1.8$'
                    if (method === 2 || method === 3) money = '9$'
                    Swal.fire({
                        title: 'Continue',
                        text: 'Your account has just been added ' + money,
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No',
                        showCancelButton: true,
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.value) {
                            window.location.replace("/?continue=true");
                        } else window.location.replace("/")
                    })
                })

            }
        })
    });
</script>
<%- include('./layouts/call-event') %>
