<%- include('./layouts/head',{ title: 'Home Page' }) %>
<%- include('layouts/header.ejs', {style: ''})%>
<!-- Banner Area Starts -->

<div class="box-doctor p-5">
    <input class="d-none" type="radio" name="doctor" value="<%= doctor.id %>">
    <div class="item">
        <div class="doctor-img">
            <img src="<%= doctor.info.img %>" alt="" class="img-fluid">
        </div>
        <span class="d-none" id="doctorId"><%= doctor.id %></span>
        <div class="content-area">
            <div class="doctor-name text-center">
                <h3><%= doctor.info.lastname %></h3>
            </div>
        </div>
    </div>
</div>
<button class="button-call"><i class="fa fa-3x fa-phone"></i>
    <p class="title-call">Call now</p></button>
<input type="hidden" id="my_Id" value="<%= user._id %>">
<!-- News Area Starts -->
<%- include('./layouts/call-event') %>

<%- include('./layouts/footer',
) %>

