<%- include('./layouts/head',
{title: 'Add Schedule'})%>


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Forms Record</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" method="post" action="/addSchedule/save">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" name="date">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<%- include('./layouts/footer',
) %>
