<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layouts/head1.ejs', {title: 'Home'}) %>
</head>

<body class="home-body">


<%- include('layouts/header.ejs', {style: ''}) %>
<!-- Banner Area Starts -->

<section class="home-banner">
    <div class="container">
        <div class="">
            <div class="text-center">
                <h1 class="home-banner-text">Leading the way in medical excellence</h1>
                <p>Earth greater grass for good. Place for divide evening yielding them that. Creeping beginning over
                    gathered brought.</p>

                <div class="mt-5">
                    <% if(user && user.isDoctor){ %>
                        <a id="btn-start-work" onclick="doctorConnect('<%= user._id %>')"><p
                                    class="btn btn-outline-dark btn-radius">&emsp13;Start Work&emsp13;</p></a>
                        <a id="btn-stop-work" onclick="doctorDisConnect('<%= user._id %>')"><p
                                    class="btn btn-outline-danger btn-radius">&emsp13;Stop Work&emsp13;</p></a>
                    <% } %>
                    <% if(user && !user.isDoctor){ %>
                        <a href="/suggest" class="" id="btn-find">
                            <p class="btn btn-outline-dark btn-radius">&emsp13;Find doctor&emsp13;</p>
                        </a>
                    <% } %>
                    <% if(!user) { %>
                        <h5><a href="/booking" class="btn btn-outline-dark  btn-radius">&emsp13;Login&emsp13;</a></h5>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('./layouts/call-event') %>
<script src="/js/myjs.js"></script>
</body>
</html>

