<%- include('./layouts/head', {title: 'Work list'} ) %>
<%- include('layouts/header.ejs', {style: ''}) %>

<div class="container" style="margin-top: 100px">
    <div id="box-list" class="box-list" class="section-top-border">
        <h3 class="mb-30 title_color">Work List</h3>
        <table class="table table-hover">
            <thead class="table-head">
            <tr class="d-flex">
                <th class="col-2">number</th>
                <th class="col-4">patient</th>
                <th class="col-4">time</th>
                <th class="col-2"></th>
            </tr>
            </thead>
            <tbody>
            <% listBooking.forEach((item, index)=>{ %>
                <tr class="d-flex">
                    <th class="col-2" scope="row"><%= index + 1 %></th>
                    <td class="col-4">
                        <p>Name: <%= item.user.info.lastname + ' ' + item.user.info.firstname %></p>
                        <a style="font-size: 12px" href="/record/<%= item.user._id %>">Medical records</a>
                    </td>
                    <td class="col-4">
                        <p class="timeWork"><%= item.time %></p>
                    </td>
                    <td class="col-2" scope="col">
                        <button class="button-call"><i class="fa fa-3x fa-phone"></i>
                            <p class="title-call">Call now</p></button>
                        <input type="hidden" class="friendId" value="<%= item.user._id %>">
                    </td>
                </tr>

            <% }) %>
            </tbody>
        </table>
    </div>
</div>

<script>
    var socket = io('https://dev20-doctor.herokuapp.com/');
    $('.timeWork').each(function () {
        var time = parseInt($(this).text())
        $(this).text( moment(time).format('YYYY-MM-DD HH:mm'))
    })
    $('.button-call').click(function () {
        var friendId = $(this).parent().find('.friendId').val();
        $(this).find('p').text('Calling...');
        $(this).find('i').addClass('calling');
        socket.emit('CALL-ISBOOKING', {friendId: friendId, myId: my_Id});
    });

</script>

<%- include('./layouts/call-event') %>

<%- include('./layouts/footer') %>
