<%- include('./layouts/head',
{title: 'Doctors'}
) %>
<%- include('layouts/header.ejs', {style: ''})%>
<!-- Banner Area Starts -->

<!-- Banner Area End -->
<div class="container p-5">


    <form action="/call/rate/save" method="post" class="p-5">
        <input type="text" name="doctorId" class="d-none" value="5cedf77ac92f3f383cee312d">
        <input type="text" name="userId" class="d-none" value="<%= user.id %>">
        <div class="container">
            <div class="row">
                <table class="table table-hover">
                    <thead class="table-head">
                    <tr>
                        <th scope="col">number </th>
                        <th scope="col">Disease</th>
                        <th scope="col">drug</th>
                        <th scope="col">med ex date </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Bệnh cúm</td>
                            <td>ABC</td>
                            <td>ABC</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-12">
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5"/>
                        <label for="star5" title="text">5</label>
                        <input type="radio" id="star4" name="rate" value="4"/>
                        <label for="star4" title="text">4</label>
                        <input type="radio" id="star3" name="rate" value="3"/>
                        <label for="star3" title="text">3</label>
                        <input type="radio" id="star2" name="rate" value="2"/>
                        <label for="star2" title="text">2</label>
                        <input type="radio" id="star1" name="rate" value="1"/>
                        <label for="star1" title="text">1</label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Vote star</button>
                </div>
            </div>
        </div>

    </form>
</div>

<%- include('./layouts/footer',
) %>
<script>

</script>
