<%- include('./layouts/head', {title: 'Medical Records'}) %>
<%- include('layouts/header.ejs', {style: ''})%>
<!-- Banner Area Starts -->
<section class="banner-area other-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Record</h1>
                <a href="index.html">Home</a> <span>|</span> <a href="contact.html">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->
<div class="container">
    <div class="section-top-border">
        <h3 class="mb-30 title_color">Record</h3>
        <table class="table table-hover">
            <thead class="table-head">
            <tr>
                <th>#</th>
                <th class="text-uppercase">Symptom</th>
                <th class="text-uppercase">Diagnosis</th>
                <th class="text-uppercase">medicine</th>
                <th class="text-uppercase">amount</th>
                <th class="text-uppercase">using</th>
            </tr>
            <% for(var i = 0; i < listRecord.length ; i++) { %>
                <tr class="font-weight-normal text-capitalize">
                    <td><%= i + 1 %></td>
                    <td>
                        <% var lists = listRecord[i].symptom.split(',');
                        for (var j = 0; j < lists.length; j++) { %>
                            <p><%= lists[j] %></p>
                        <% } %>
                    </td>
                    <td>
                        <% var lists = listRecord[i].diagnosis.split(',');
                        for (var j = 0; j < lists.length; j++) { %>
                            <p><%= lists[j] %></p>
                        <% } %>
                    </td>
                    <td>
                        <% var lists = listRecord[i].medicine.split(',');
                        for (var j = 0; j < lists.length; j++) { %>
                            <p><%= lists[j] %></p>
                        <% } %>
                    </td>
                    <td>
                        <% var lists = listRecord[i].amount.split(',');
                        for (var j = 0; j < lists.length; j++) { %>
                            <p><%= lists[j] %></p>
                        <% } %>
                    </td>
                    <td>
                        <% var lists = listRecord[i].using.split(',');
                        for (var j = 0; j < lists.length; j++) { %>
                            <p><%= lists[j] %></p>
                        <% } %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%- include('./layouts/call-event') %>
<%- include('./layouts/footer', ) %>
