<%- include('./layouts/head', {title: 'Sign up'} ) %>
<%- include('layouts/header.ejs', {style: ''})%>
<div class="register-area">
    <section class="banner-area">
        <div class="container">
            <div class="row">
                <div class="contact-form form-area">
                    <h2 class="panel-title">Register</h2>
                    <div class="">
                        <% if(hasErrors) { %>
                            <div class="alert alert-danger">
                                <% messages.forEach(function(message){ %>
                                    <span><%=  message %></span>
                                <% })%>
                            </div>
                        <% } %>
                        <form id="register-form" role="form" action="/user/register" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-6">
                                    <input style="width: 250px; margin-right: 5px" name="firstname" id="firstname" value="<%= dataForm.firstname %>" type="text" placeholder="First name">
                                </div>
                                <div class="col-5">
                                    <input style="width: 250px" type="text" name="lastname" id="lastname" value="<%= dataForm.lastname %>" class="" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div style="width: 50px" class="default-select" id="default-select">
                                        <select name="gender" value="<%= dataForm.gender %>" placeholder="gender">
                                            <option value="male">Male</option>
                                            <option value="famale">Female</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <input type="date" name="dob" value="<%= dataForm.dob %>" style="margin-left:8px; width: 338px" placeholder="Birthday">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input style="width: 250px; margin-right: 5px" type="text" name="numbercmnd" value="<%= dataForm.numbercmnd %>"
                                           class="" placeholder="Number identity">
                                </div>
                                <div class="col-5">
                                    <input style="width: 250px; background-color: white" type="file" name="img" value="<%= dataForm.img %>">
                                </div>
                            </div>
                            <input style="width: 537px" type="text" name="address" value="<%= dataForm.address %>"
                                   class="" placeholder="Address">
                            <input style="width: 537px" type="email" name="email" id="email" value="<%= dataForm.email %>" class="" placeholder="Email Address">
                            <div class="row">
                                <div class="col-6">
                                    <input style="width: 250px; margin-right: 5px" type="password" name="password" id="password" class="" placeholder="Password">
                                </div>
                                <div class="col-4">
                                    <input style="width: 250px" type="password" name="password_confirmation" id="password_confirmation" class="" placeholder="Confirm Password">
                                </div>
                            </div>
                            <button type="submit" class="template-btn">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include('./layouts/footer',
) %>
