<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layouts/head1.ejs', {title: 'Suggest'}) %>
</head>
<body style="background-color: #f3f5f7">
<%- include('layouts/header.ejs', {style: 'position: inherit'})%>
<div class="container suggest-center">
    <div class="row">
    <div class="col-12 col-lg-1"></div>
    <div class="col-12 col-lg-10">
        <div class="view view-sex col-12 p-5">
          <h2 class="text-center">Select your gender</h2>
          <div class="row p-1">
              <div class="col-6">
                <div onclick="selectSex('male')" class="choice-sex">
                    <div class="doctor-img" style="background-image: url('img/male.svg')"></div>
                    <p class="text-center mt-2">MALE</p>
                </div>
              </div>
              <div class="col-6">
                <div onclick="selectSex('female')" class="choice-sex">
                    <div class="doctor-img" style="background-image: url('img/female.svg')"></div>
                    <p class="text-center mt-2">FEMALE</p>
                </div>
              </div>
          </div>
        </div>
        <div class="view view-location col-12 p-5" style="display: none">
            <div class="row">
                <div class="locations-area col-4">
                    <h4 class="text-uppercase text-center">Check location</h4>
                    <div id="model-female" style="display: none">
                        <div id="model-female-front" class="model-body">
                            <%- include('./module/model-female-front.ejs')%>
                        </div>
                        <div id="model-female-back" class="model-body" style="display: none">
                            <%- include('./module/model-female-back.ejs')%>
                        </div>
                    </div>
                    <div id="model-male" style="display: none">
                        <div id="model-male-front" class="model-body">
                            <%- include('./module/model-male-front.ejs')%>
                        </div>
                        <div id="model-male-back" class="model-body" style="display: none">
                            <%- include('./module/model-male-back.ejs')%>
                        </div>
                    </div>
                    <div onclick="toggleBody()" class="model-controls text-center pt-1">Rotate model</div>
                </div>
                <div class="symptoms-area col-8">
                    <h4 class="text-uppercase text-center">Check your symptoms</h4>
                    <h4 id="location-name"></h4>
                    <form name="symptoms">
                        <div id="symptoms-list"></div>
                    </form>
                </div>
            </div>
            <div class="">
                <button onclick="back()" class="btn btn-outline-dark float-left">Back</button>
                <button onclick="submit()" class="btn btn-outline-dark float-right" type="submit">Find Doctor</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-1"></div>
    </div>
</div>

<input type="hidden" id="myId" value="<%= user._id%>">

<script src="/js/suggest.js"></script>

<%- include('./layouts/call-event') %>
