#boxIndex {
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    top: 10%;
    right: 6%;
    z-index: 9999;
    background: white;
    -webkit-box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.54);
}

#timeCountDownt{
    letter-spacing: 3px;
    font-weight: 500;
}


#loading-time img {
    margin: auto;
    display: block;
}

.item {
    border: 2px solid transparent;
}

.time-item {
    margin: 20px;
    font-size: 20px;
    text-align: center;

}

#box-date > input[type="radio"]:checked + label {
    color: white;
    background-color: red;
}

#box-time > input[type="radio"]:checked + label {
    color: white;
    background-color: red;
}

#box-time > input[type="radio"]:disabled + label {
    color: white;
    background: #dddddd;
    cursor: default;
}

.doctor-item {
    margin: 10px;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}

.img-account-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 12px;
}

.img-account {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .img-account::before{
    width: 30px;
 } */

.register-area .banner-area {
    padding: 180px 0 300px;
}

.form-area input {
    width: 400px;
    border: 1px solid #f9f9f9;
    padding: 12px 20px;
    margin-bottom: 20px;
    display: block;
}

.form-area .input-image {
    background-color: white;
    width: 250px;
    border: 1px solid #f9f9f9;
    padding: 10px 20px 5px;
    margin-bottom: 20px;
}

.input-rieng {
    width: 280px;
}

.err-area {
    padding: 150px 0 450px;
    background-color: #b0b0b0;
    background-image: url("../assets/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative
}

.err-area a {
    margin: 20px;
}

.table-head {
    color: #222222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500
}

.error {
    /*width: 400%;*/
    color: #ff0000;
}

#login-form label, #register-form label {
    display: block;
}

/*.button-call:hover {*/
/*color: #ff0000;*/
/*}*/
.button-call {
    cursor: pointer;
    font-size: 10px;
    line-height: 24px;
    border: none;
    background: transparent;
    outline: none;
}

.button-call i:hover {
    color: red;
}

.myVideo {
    position: absolute;
    width: 20%;
    top: 0;
    right: 0;
}

.friendVideo {
    width: 100%;

}

.phone {
    -webkit-animation: NAME-YOUR-ANIMATION 2s infinite;
    -webkit-animation-iteration-count: infinite;
    color: blue;
}

.online-btn {
    border: none;
    color: #fff;
    padding: 5px 15px;
    font-size: 15px;
    background: #00ff74;
    border-radius: 3px;
}

.offline-btn {
    border: none;
    color: #fff;
    padding: 5px 15px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}

.calling {
    -webkit-animation: NAME-YOUR-ANIMATION 2s infinite;
    -webkit-animation-iteration-count: infinite;
}

/*.phone:before {*/
/*font-family: FontAwesome;*/
/*content: "\f095";*/
/*font-size: 17px;*/
/*}*/

.btn-active {
    background: red;
}

.bo-thang-doctor {
    border: red solid 2px;

}

@-webkit-keyframes NAME-YOUR-ANIMATION {
    0% {
    }
    10% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    20% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
    30% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    40% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    60% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
    70% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    80% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
    90% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
}

.list-doctor {
    position: relative;
}

.list-doctor .owl-theme .custom-nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}

.custom-nav .owl-prev, .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}

.owl-prev i, .owl-next i {
    font-size: 2.5rem;
    color: black;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.part-book {
    padding-bottom: 30px;
}

.list-time button:focus {
    background-color: red;
    color: white;
}

.box-doctor {
    cursor: pointer;
}

/* Home Page */
.home-body {
    background-image: url('/img/banner-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.home-banner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-banner-text {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
}

.btn-radius {
    border-radius: 3rem;
    font-size: 40px;
}

/* client/suggest.ejs */
.symptoms-area {

}

.locations-area {
    /*width: 200px;*/
}

.choice-sex {
    border: 1px solid #767676;
    cursor: pointer;
}

.choice-sex:hover {
    background-color: #fff /* #f3f5f7*/
}

.model-female-front, .model-female-back {
    /*background-color: white;*/
    color: #ca0c1e;
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.model-male-front, .model-male-back {
    /*background-color: white;*/
    color: #ca0c1e;
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.body-area-style {
    opacity: 0.1;
    cursor: pointer;
}

.body-area-style:hover {
    opacity: 0.3;
}

.body-area-style-0 {
    opacity: 0;
    cursor: pointer;
}

.body-area-style-0:hover {
    opacity: 0.3;
}

.body-area-selected {
    opacity: 0.4;
}

/*.body-area-head-front, .body-area-eyes, .body-area-ears, .body-area-nose, .body-area-oral_cavity {*/
/*    opacity: 0;*/
/*    cursor: pointer;*/
/*}*/

.view {
    /*background-color: #fff;*/
}

.suggest-center {
    /* position: fixed; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /*margin-bottom: 5em;*/
}

.model-controls {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    background-color: #716f74;
    color: #fff;
}

/* Rating */

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}

.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}

.rate {
    float: left;
    height: 70px;
    padding-right: 455px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* client/booking.ejs */
.doctor-img {
    border-radius: 0;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* client/doctor-form-record.ejs */

.button-plus {
    width: 2em;
    color: #343a4078;
}

.button-plus:hover {
    cursor: pointer;
    color: #343a40;
}

.button-minus {
    width: 2em;
    color: #343a4078;
}

.button-minus:hover {
    cursor: pointer;
    color: #343a40;
}

.hide {
    display: none;
}

/* Footer */
body {
    position: relative;
    min-height: 100vh;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.list-deposit button:focus {
    background-color: #007bff;
    color: white;
}
