<audio id="audio-ring" src="/audio/telephone-ring.mp3" preload="auto"></audio>

<% if(user){ %>
    <input id="myId" type="hidden" value="<%= user._id %>">
    <input id="isDoctor" type="hidden" value="<%= user.isDoctor %>">
<% } %>

<script>
    var my_Id = $('#myId').val();

    var socket = io.connect('https://dev20-doctor.herokuapp.com/', {query: `userId=${my_Id}`});

    $(function () {
        let searchParams = new URLSearchParams(window.location.search);
        var myAudio = document.getElementById('audio-ring');
        var popUpUser;
        var popUpDoctor;
        if (searchParams.has('alert')) {
            Swal.fire({
                title: 'Not enough money',
                type: 'warning',
                text: 'Do you want to deposit now?',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                showCancelButton: true
            }).then((result) => {
                if (result.value) {
                    window.location.replace('/deposit')
                }
            })
        }

        if (searchParams.has('continue')) {
            doctorConnect(my_Id);
        }

        //check doctor connected!!
        if ($("#isDoctor").val() === 'true') {
            socket.emit('DOCTOR_ONLINE', my_Id);
        }

        //user
        socket.on(my_Id, data => {
            myAudio.play();
            var time = 30 * 1000; // nửa mi nút!
            var timeOutID = setTimeout(function () {
                swal.close();
                socket.emit('DOCTOR_CONNECT', data.friendId);
                socket.emit('USER_REFUSE', my_Id);
            }, time);

            var counter = time / 1000;
            var countdown = setInterval(function () {
                counter--;
                $('#timeOut').text('Time out in ' + counter + ' seconds!!');
                if (counter === 0) {
                    clearInterval(countdown);
                }
            }, 1000);
            console.log(data.doctor)
            Swal.fire({
                title: data.doctor.name,
                html: '<img width="125" style="border-radius: 100%; margin: 20px" src="' + data.doctor.img + '">' +
                    '<div class="star-ratings-sprite"><span style="width:' + data.doctor.currentRating + '%" class="star-ratings-sprite-rating"></span></div>' +
                    '<br><span>' + data.doctor.specialties + '</span> ' +
                    '<br><small id="timeOut">Time out in ' + counter + ' seconds!!</brsmall>'
                ,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Refuse',
                confirmButtonText: 'Accept',
                allowOutsideClick: false
            }).then((result) => {
                if (result.value) {
                    myAudio.load();
                    myAudio.pause();
                    clearInterval(countdown);
                    clearTimeout(timeOutID);
                    popUpUser = popupwindow(`/call?myId=${data.myId}&friendId=${data.friendId}&sos=${data.isSos}`, "Calling", 1200);
                } else {
                    myAudio.load();
                    myAudio.pause();
                    clearInterval(countdown);
                    clearTimeout(timeOutID);
                    socket.emit('DOCTOR_CONNECT', data.friendId);
                    socket.emit('USER_REFUSE', my_Id);
                }
            })
        });

        socket.on(my_Id + 'done', (data) => {
            Swal.fire({
                title: 'Evaluate',
                type: 'question',
                width: '1200px',
                html: rate(data),
                showCloseButton: true,
                showConfirmButton: false,
                allowOutsideClick: false
            })
        });


        $('#boxIndex').hide();

        function f(a) {
            console.log(a);
            if ((typeof a) === 'string') {
                return a;
            } else {
                var result = '';
                for (let i = 0; i < a.length; i++) {
                    result += a[i] + '<br>';
                }
                return result;
            }
        }

        function rate(data) {
            return '<form action="/call/rate/save" method="post" class="p-5">\n' +
                '        <input type="text" name="doctorId" class="d-none" value="5cedf77ac92f3f383cee312d">\n' +
                '        <input type="text" name="userId" class="d-none" value=' + data.userId + '>\n' +
                ' <table class="table table-hover">\n' +
                '                    <thead class="table-head">\n' +
                '                    <tr>\n' +
                '                        <th scope="col">symptom</th>\n' +
                '                        <th scope="col">diagnosis</th>\n' +
                '                        <th scope="col">medicine</th>\n' +
                '                        <th scope="col">amount</th>\n' +
                '                        <th scope="col">using</th>\n' +
                '                    </tr>\n' +
                '                    </thead>\n' +
                '                    <tbody>\n' +
                '                        <tr>\n' +
                '                            <td>' + f(data.symptom) + '</td>\n' +
                '                            <td>' + f(data.diagnosis) + '</td>\n' +
                '                            <td>' + f(data.medicine) + '</td>\n' +
                '                            <td>' + f(data.amount) + '</td>\n' +
                '                            <td>' + f(data.using) + '</td>\n' +
                '                        </tr>\n' +
                '                    </tbody>\n' +
                '                </table>' +
                '        <div class="rate col-12">\n' +
                '            <input type="radio" id="star5" name="rate" value="5"/>\n' +
                '            <label for="star5" title="text">5</label>\n' +
                '            <input type="radio" id="star4" name="rate" value="4"/>\n' +
                '            <label for="star4" title="text">4</label>\n' +
                '            <input type="radio" id="star3" name="rate" value="3"/>\n' +
                '            <label for="star3" title="text">3</label>\n' +
                '            <input type="radio" id="star2" name="rate" value="2"/>\n' +
                '            <label for="star2" title="text">2</label>\n' +
                '            <input type="radio" id="star1" name="rate" value="1"/>\n' +
                '            <label for="star1" title="text">1</label>\n' +
                '        </div>\n' +
                '        <button type="submit" class="btn btn-primary">Vote star</button>\n' +
                '    </form>'
        }

        function showIndex() {
            var myIndex = parseInt(localStorage.getItem(my_Id + 'myIndex'));
            if (myIndex && myIndex > 0) {
                Swal.fire({
                    title: 'Queue',
                    html: `<h4>Your current location in the queue:</h4><h1 id="myIndex">${myIndex}</h1>`,
                    showCancelButton: false,
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'Out queue',
                    allowOutsideClick: false
                }).then((result) => {
                    if (result.value) {
                        // clearInterval(countDownIntervalId);
                        socket.emit('USER_OUT_QUEUE', my_Id);
                        localStorage.removeItem(my_Id + 'myIndex');
                    }
                })
            } else {
                localStorage.removeItem(my_Id + 'myIndex');
            }
        }

        showIndex();

        socket.on(my_Id + '2', data => {

            if (data.userIndex) { // sếp vào hàng chờ !!
                Swal.fire({
                    type: 'question',
                    html:
                        '<p>Currently no doctor is available. You can start to line up at position <h3>' + data.userIndex + '</h3>' +
                        ' or <a href="/booking?rank=' + data.rank + '">pre-book your appointment.</a></p> ',
                    showCancelButton: true,
                    allowOutsideClick: false,
                    confirmButtonText: 'Go to queue',
                }).then(function (result) {
                    if (result.value) {
                        localStorage.setItem(my_Id + 'myIndex', data.userIndex);
                        showIndex();
                    } else {
                        socket.emit('USER_REFUSE', my_Id);
                    }
                })

            } else {  // bác sĩ ấn cancer
                popUpUser.close();
                Swal.fire({
                        title: 'Finding',
                        html: `<img src= "/img/finding.svg"/>`,
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonColor: '#d33',
                        cancelButtonText: 'cancer',
                        allowOutsideClick: false
                    }
                ).then(function (result) {
                    if (!result.value) {
                        socket.emit('USER_OUT_QUEUE', id);
                    }
                })
            }
        });

        socket.on(my_Id + 'oncall', (data) => {
            console.log(typeof data.isSos);
            if (data.isSos === 'true') {
                showThongBao('S.O.S', 'warning', data);
            } else {
                showThongBao('Start the examination!', 'question', data);
            }
        });

        socket.on('UPDATE_QUEUE', function (list) {
            var newIndex = list.indexOf(my_Id) + 1;
            localStorage.setItem(my_Id + 'myIndex', newIndex);
            $("#myIndex").text(newIndex);
            if (newIndex <= 0) {
                localStorage.removeItem(my_Id + 'myIndex');
                swal.close();
            }
        });

        socket.on('DOCTOR_READY', function () {
            console.log('doctor connect')
            $('#btn-start-work').hide();
            $('#btn-stop-work').show();
            Toast.fire({
                type: 'success',
                title: 'Ready!'
            });
        })

        socket.on('DOCTOR_NOT_READY', function (data) {
            if (data) {
                $('#btn-start-work').show();
                $('#btn-stop-work').hide();
                Toast.fire({
                    type: 'warning',
                    title: 'Not ready!'
                });
            } else {
                Swal.fire({
                    title: 'Connecting',
                    html: `<img src= "/img/finding.svg"/>`,
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowOutsideClick: false
                })
            }
        })

    });

    $('#btn-stop-work').hide();

    function doctorConnect(id) {
        socket.emit('DOCTOR_CONNECT', id);
    }

    function doctorDisConnect(id) {
        socket.emit('DOCTOR_DISCONNECT', id);
    }

    function onKham(id) {
        socket.emit('KHAM_BENH', {'userId': id});
    }

    function helpMe(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you really need help now!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.value) {
                socket.emit('SOS', id);
                Swal.fire({
                        title: 'Finding now',
                        html: `<img src= "/img/finding.svg"/>`,
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonColor: '#d33',
                        cancelButtonText: 'cancer',
                        allowOutsideClick: false
                    }
                ).then(function (result) {
                    if (!result) {
                        socket.emit('USER_OUT_QUEUE', id)
                    }
                })
            }
        })
    }

    function showThongBao(title, type, data) {
        Swal.fire({
            title: title,
            type: type,
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Yes',
            cancelButtonColor: '#d33',
            allowOutsideClick: false
        }).then((result) => {
            if (result.value) {
                window.location.replace("/doctor/form-record/" + data.friendId);
                popUpDoctor = popupwindow(`/call?peerId=${data.peerId}&friendId=${data.friendId}`, "Calling", 1200);
            } else {
                socket.emit('DOCTOR_REFUSE', {'userId': data.friendId});
            }
        })
    }

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-start',
        showConfirmButton: false,
        timer: 3000
    });

    // var countDownIntervalId;
    // function renderTime(count) {
    //     var time = count * 10 * 60;
    //     countDownIntervalId = setInterval(function () {
    //         if (time <= 0) {
    //             clearInterval(this);
    //         }
    //         updateTime(time--);
    //     }, 1000)
    //
    // }
    //
    // function updateTime(time) {
    //     var hours = (time / (60 * 60)) | 0;
    //     var minutes = ((time % (60 * 60)) / 60) | 0;
    //     var seconds = (time % 60) | 0;
    //
    //     hours = hours < 10 ? "0" + hours : hours;
    //     minutes = minutes < 10 ? "0" + minutes : minutes;
    //     seconds = seconds < 10 ? "0" + seconds : seconds;
    //
    //     $('#timeCountDownt').text(hours + ":" + minutes + ":" + seconds);
    //
    // }


</script>
