<!-- Footer -->
<footer class="footer">
    <div class="p-2">
        <div class="container text-center">
            <span>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This application is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/" target="_blank">Undefined</a></span>
        </div>
    </div>
</footer>
<script src="/js/myjs.js"></script>
</body>
</html>
