<!-- Nav Start -->
<header class="header-area">
    <div id="header" id="home" style="top: 0; <%- style %>">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/"><img src="/assets/images/logo/logo.png" alt="" title=""/></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="/about">About</a></li>
                    <% if(user && !user.isDoctor){ %>
                            <button class="btn px-2 mt-1 ml-2 btn-danger" onclick="helpMe('<%= user._id %>')">SOS
                            </button>
                            <li class="menu-active"><a href="/suggest?booking=true">Take appointment</a></li>
                        <% } %>
                        <% if(user && user.isDoctor){ %>
                            <li><a href="/doctor/work_list">Work List</a></li>
                            <li class="menu-has-children">
                                <a href="">
                                    <div class="img-account-box">
                                        <img class="img-account" src="<%= user.info.img %>"/>
                                    </div>
                                    <%= user.info.lastname %></a>
                                <ul>
                                    <li>
                                        <div style="margin-left: 10px">Balance: <span
                                                    class="text-danger"><%= user.info.balance %> $</span></div>
                                    </li>

                                    <li><a href="" data-toggle="modal" data-target="#model-addschedule">Add
                                            Schedule</a></li>
                                    <li><a href="/user/logout">Sign out</a></li>
                                </ul>
                            </li>
                        <% }else if(user && !user.isDoctor){ %>
                            <li class="menu-has-children">
                                <a href="">
                                    <div class="img-account-box">
                                        <img class="img-account" src="<%= user.info.img %>"/>
                                    </div>
                                    <%= user.info.lastname %></a>
                                <ul>
                                    <li>
                                        <div style="margin-left: 10px">Balance: <span
                                                    class="text-danger"><%= user.info.balance %> $</span></div>
                                    </li>
                                    <li><a href="/record">Medical Records</a></li>
                                    <li><a href="/deposit">Recharge</a></li>
                                    <li><a href="/user/logout">Sign out</a></li>
                                </ul>
                            </li>
                        <% }else{ %>
                            <li class="menu-has-children"><a href="/user/login">Log in</a></li>
                            <li class="menu-has-children"><a href="/user/register">Sign up</a></li>
                        <% } %>
                    </ul>
                </nav><!-- #nav-menu-container -->

            </div>
        </div>
    </div>

    <div class="modal fade" id="model-addschedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form role="form" method="post" action="/addSchedule/save">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Schedule</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6" style="margin-left: 125px">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input class="form-control" type="date" name="date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</header>
<!-- Nav End -->
